<div class="containter-store">
  <div class="top">
    <div class="title">
      <h2>Catálogo de productos</h2>
    </div>
    <div class="search">
      <h3>¿Qué esta buscando?</h3>
      <input type="text" name="" value="" placeholder="Buscar producto">
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3" *ngFor="let item of products; let i = index;">
        <article class="product">
          <div class="content-data">
            <img src="{{item.image}}" alt="" class="listProductImage">
            <h4>{{item.name}}</h4>
            <span class="price">Precio: ${{item.price}}</span>
            <span class="stock">Unidades disponibles: {{item.quantity}}</span>
            <div class="buttons">
              <a [routerLink]="['producto', item.name]" class="btn btn-primary">
                Ver más
              </a>
              <button class="btn btn-warning" type="button" name="add" (click)="addProductShoppingCart(item,data.value)">Añadir</button>
              <input class="quantity" type="number" name="quantity_{{item.id}}" id="quantity_{{item.id}}" min="0" value="0" step="1" (change)="setQuantity($event.target.value)" #data>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

</div>