<div class="containter-store">
  <div class="top">
    <div class="title">
      <h2>Catálogo de productos</h2>
    </div>
    <div class="search">
      <h3>¿Qué esta buscando?</h3>
      <input type="text" name="" value="" placeholder="Buscar producto">
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 box boxblue">
        <article class="product">
          <div>
            <img src="assets/images/Aguacate.jpg" alt="" class="listProductImage">
            <h4>Aguacate</h4>
            <span class="price">Precio: $10</span>
            <span class="stock">Unidades disponibles: 46</span>
            <div class="buttons">
              <button class="btn btn-primary" type="button" name="more">Ver más</button>
              <button class="btn btn-warning" type="button" name="add">Añadir</button>
              <input class="quantity" type="number" name="quantity" value="0" step="1">
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-3 box boxgray">
        <article class="product">
          <div>
            <img src="assets/images/Aguacate.jpg" alt="" class="listProductImage">
            <h4>Aguacate</h4>
            <span class="price">Precio: $10</span>
            <span class="stock">Unidades disponibles: 46</span>
            <div class="buttons">
              <button class="btn btn-primary" type="button" name="more">Ver más</button>
              <button class="btn btn-warning" type="button" name="add">Añadir</button>
              <input class="quantity" type="number" name="quantity" value="0" step="1">
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-3 box boxgray">Column2</div>
      <div class="col-sm-3 box boxgray">
        <article class="product">
          <div>
            <img src="assets/images/Aguacate.jpg" alt="" class="listProductImage">
            <h4>Aguacate</h4>
            <span class="price">Precio: $10</span>
            <span class="stock">Unidades disponibles: 46</span>
            <div class="buttons">
              <button class="btn btn-primary" type="button" name="more">Ver más</button>
              <button class="btn btn-warning" type="button" name="add">Añadir</button>
              <input class="quantity" type="number" name="quantity" value="0" step="1">
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

</div>