#container{
    margin: 40px 50px ;
}
.textfieldBuscador{
    border-style: solid;
    border-width: 1px;
    border-radius: 80;
    margin: 15px 10px;
    padding-left: 15px;
    width: 100%;
}
.labelBuscador{
    margin-top: 80px;
    margin-bottom: 20px;
    align-content: center;
    text-align:center;

}
.btn{
    width: 50%;
    margin-top: 20px;
}