#container{
    margin: 40px 50px ;
}
.textfieldBuscador{
    border-style: solid;
    border-width: 1px;
    border-radius: 80;
    margin: 15px 10px;
    padding-left: 15px;
    width: 100%;
}
.labelBuscador{
    margin-top: 80px;
    margin-bottom: 20px;
    align-content: center;
    text-align:center;

}
.btn{
    width: 50%;
    margin-top: 20px;
}
#secondForm,.grid{
    vertical-align: bottom;
    margin-top: 20%;
}
.btn1{
    align-content: center;
    text-align:center;
    border-style: solid;
    border-width: 1px;
    margin: 0px 50px;
    padding: 20px 0; 
}
.btn1.sup{
    color:gray;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}
.btn1.bottom{
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}