<div class="card">
  <div class="card-content">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Título tarea" type="text" class="validate input-titulo">
      </div>
        <div class="col m7 s10">
          <label for="descripcion">Descripción</label>
          <div class="input-field col s12">
            <textarea id="descripcion" class="materialize-textarea"></textarea>
          </div>
        </div>
        <div class="col m4 s2 offset-m1">
          <label for="fecha">Fecha:</label>
          <ng2-datepicker id="fecha" [(ngModel)]="date"></ng2-datepicker>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button class="btn-floating green right"><i class="material-icons">check</i></button>
          <button class="btn-floating red right"><i class="material-icons">close</i></button>
        </div>
      </div>
    </div>
  </div>