
h1{
  color: white;
  text-align: center;
}
#contedorForm{
  margin-top: 300px;
}

label{
  color: #fff;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
  background-color: #f4cfe7;
}

.error{
  color:red;
  display: none;
}
